
/* bubble */
.about_projects_banner {
  height: 500px;
  
  
  }
  .About_baner_wraper {
    height: 500px;
    width: 100%;
    background:#80C0CF ;
    position: absolute;
  }
  .About_baner_wraper h1 {
      color: #004F70;
      font-family: "Pacifico", cursive;
      z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .About_baner_wraper div { 
   
    height: 40px;
    width: 40px;
    border: 2px solid #004F70;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 5%;
    animation: animate 4s linear infinite;
  }
  div .dott {
    height: 10px;
  
    width: 10px;
    border-radius: 50px;
    background: #004F70;
    position: absolute;
    top: 20%;
    right: 20%;
  }
  .About_baner_wraper div:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .About_baner_wraper div:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
  }
  .About_baner_wraper div:nth-child(3) {
    top: 40%;
    left: 40%;
    animation: animate 5s linear infinite;
  }
  .About_baner_wraper div:nth-child(4) {
    top: 66%;
    left: 30%;
    animation: animate 7s linear infinite;
  }
  .About_baner_wraper div:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
  }
  .About_baner_wraper div:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
  }
  .About_baner_wraper div:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .About_baner_wraper div:nth-child(8) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .About_baner_wraper div:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
  }
  .About_baner_wraper div:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
  }
  .About_baner_wraper div:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
  }
  .About_baner_wraper div:nth-child(12) {
    top: 20%;
    left: 70%;
    animation: animate 7s linear infinite;
  }
  .About_baner_wraper div:nth-child(13) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .About_baner_wraper div:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
  }
  .About_baner_wraper div:nth-child(13) {
    top: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: scale(0) translateY(0) rotate(70deg);
    }
  }
  