.about_banner {
  background: url("https://bostamireact.ibthemespro.com/static/media/bgtwo.181487f3237d7ff109fa.jpg");
  background-repeat: no-repeat;
  background-size: 100vh;
  width: 100vw;
  background-size: cover;

}
